@import "../../../../../../theme/mixins.scss";

.item {
  background-color: rgb(238, 224, 167);
  color: black;
  border-radius: 10px;
  width: 100%;

  &--all {
    margin: 12px 5px;
  }

  &__button {
    @include breakpoint-size(ms-extra-small) {
      font-size: 0.8rem;
    }

    @include breakpoint-size(ms-small) {
      font-size: 1.2rem;
    }

    @include breakpoint-size(ms-medium) {
      font-size: 1rem;
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__row {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }
}
