<form [formGroup]="form">
  <ion-grid>
    <ion-row class="row row-1">
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Fecha</ion-label>
          <ion-input type="text" formControlName="date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Producto</ion-label>
          <ion-input
            type="text"
            formControlName="productId"
            placeholder="Product generico"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row row-2">
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Lote</ion-label>
          <ion-input
            type="text"
            formControlName="lotId"
            placeholder="Lote generico"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Peso</ion-label>
          <ion-input
            type="text"
            formControlName="weight"
            placeholder="Ingresar peso"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row row-3">
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Alérgeno</ion-label>
          <ion-input
            type="text"
            formControlName="allergen"
            placeholder="Ingrese alérgeno"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Área</ion-label>
          <ion-select
            formControlName="area"
            interface="action-sheet"
            placeholder="Seleccione área"
          >
            <ion-select-option value="area-1">Área 1</ion-select-option>
            <ion-select-option value="area-2">Área 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
