<ion-grid class="dialog">
  <ion-row class="dialog dialog__row">
    <ion-col class="dialog dialog__column" size="12">
      <p class="dialog dialog__message">{{ message }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="dialog dialog__row">
    <ion-col class="dialog dialog__column" size="6">
      <ion-button class="dialog dialog__button" (click)="onCancel()" expand="block" color="secondary">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col class="dialog dialog__column" size="6">
      <ion-button class="dialog dialog__button" (click)="onAccept()" expand="block" color="primary">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>