<ion-grid>
  <ion-row>
    <ion-col size="12">
      <!-- <p>Una vez guardada la información no se podra editar</p>
      <p>¿Estás seguro que deseas guardar el reproceso?</p> -->
      <p>{{ message }}</p>
    </ion-col>
    <!-- <ion-col size="12">
      <p>Al atender la orden no se volverá a mostrar</p>
      <p>¿Deseas cerrar la orden?</p>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onCancel()" expand="block" color="secondary">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="onAccept()" expand="block" color="primary">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
