<form [formGroup]="form">
  <ion-grid class="form-grid">
    <ion-row
      class="row row-1 ion-margin ion-justify-content-center ion-align-items-center"
    >
      <ion-col size="6">
        <ion-item class="date ion-margin-horizontal">
          <ion-label position="floating">Fecha*</ion-label>
          <ion-input formControlName="registerDate"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-horizontal">
          <ion-label position="stacked">Producto</ion-label>
          <ion-select
            value="peperoni"
            interface="action-sheet"
            placeholder="Seleccione producto"
            formControlName="productId"
          >
            <ion-select-option style="font-size: 1rem;" [value]="1"
              >Producto 1</ion-select-option
            >
            <ion-select-option [value]="2">Producto 2</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row
      class="row row-2 ion-margin ion-justify-content-center ion-align-items-center"
    >
      <ion-col size="6">
        <ion-item class="ion-margin-horizontal">
          <ion-label position="stacked">Lote</ion-label>
          <ion-select
            value="peperoni"
            interface="action-sheet"
            placeholder="Seleccione Lote"
            formControlName="lotId"
          >
            <ion-select-option [value]="1">Lote 1</ion-select-option>
            <ion-select-option [value]="2">Lote 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-horizontal">
          <ion-label position="stacked">Caducidad*</ion-label>
          <ion-input
            type="text"
            placeholder="Ingrese caducidad"
            formControlName="expiration"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
