<ion-grid fixed class="ion-padding">
  <ion-row class="row row-1 ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-text-center" size="4">
      No.
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      Producto
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      Cantidad Kg.
    </ion-col>
  </ion-row>
  <ion-row class="row row-2">
    <ion-col size="12">
      <ion-grid fixed>
        <ion-row *ngFor="let product of products; let i = index">
          <ion-col class="ion-text-center" size="4">{{ i }}</ion-col>
          <ion-col class="ion-text-center" size="4">producto</ion-col>
          <ion-col class="ion-text-center" size="4">10</ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row class="row row-3">
    <ion-col size="12">
      <ion-button (click)="onAccept()" expand="block" color="primary">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
