@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;

  &__row {
    &-1 {
      @include breakpoint-size(ms-extra-small) {
        height: 5%;
      }

      @include breakpoint-size(ms-small) {
        height: 5%;
      }

      @include breakpoint-size(ms-medium) {
        height: 6%;
      }

      @include breakpoint-size(ms-small) {
        height: 10%;
      }
    }

    &-2 {
      height: 80%;
      overflow-y: scroll;
    }

    &-3 {
      height: 10%;
    }
  }

  &__column {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__button {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }
}

.item {
  height: 45px;

  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-sm);
  }

  @include breakpoint-size(ms-medium) {
    font-size: var(--fs-text-md);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-xl);
  }
}
