<app-header
  [title]="Empaquetado"
  [titlePath]="'Regresar'"
  (onBack)="onBack($event)"
></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="row row-1">
      <ion-col size="12">
        <h2>Datos del producto</h2>
      </ion-col>
    </ion-row>
    <ion-row class="row row-2">
      <ion-col size="12">
        <div>
          <ion-grid fixed>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col
                class=""
                size="4"
                style="font-size: 16px; font-weight: bold;"
              >
                Presentación
              </ion-col>
              <ion-col size="8">
                <ion-button
                  (click)="addPresentation()"
                  expand="block"
                  style="--color: #575552; font-size: 16px;"
                  fill="clear"
                >
                  Agregar presentación
                  <ion-icon
                    style="color: #e1bc5c; font-size: 16px;"
                    slot="end"
                    size="large"
                    name="add-circle-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row row-3">
      <ion-col size="12">
        <div>
          <app-presentation-card></app-presentation-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row row-4">
      <app-step></app-step>
      <app-step></app-step>
    </ion-row>
    <ion-row class="row row-5">
      <ion-col size="4">
        <ion-button
          (click)="onBack()"
          expand="block"
          fill="solid"
          color="secondary"
        >
          Retroceso
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button
          (click)="onSave()"
          expand="block"
          fill="solid"
          color="primary"
        >
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
