@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;

  &__title {
    height: 100%;
    margin: 10px 0;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }

  &__column {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__row {
    &-1 {
      @include breakpoint-size(ms-extra-small) {
        height: 5%;
        display: flex;
      }

      @include breakpoint-size(ms-small) {
        height: 5%;
      }

      @include breakpoint-size(ms-medium) {
        height: 10%;
      }
    }

    &-2 {
      @include breakpoint-size(ms-extra-small) {
        height: 5%;
        display: flex;
      }

      @include breakpoint-size(ms-small) {
        height: 5%;
      }
    }

    &-3 {
      height: 85%;
      overflow-y: scroll;
    }
  }
}
