ion-content {
  .container {
    height: 100%;

    ion-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      ion-row {
        height: 40%;

        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          app-option-menu {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
